body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
 
background: url(new2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	font-size: 3rem;
	color: black;
}
.btn{
	border-radius: 200px;
	text-transform: uppercase;
	border-color: #EB6E02;
}

.btn-xl:hover{
	background-color: blue;
	border-color: blue;
	border-width: 10px;
	transition: ease;
	transition-duration:0.2s;
	

}

.btn-xl{
	background-color:#EB6E02;
	padding: 1rem 2rem;
	width: 25%;
}

hr{
	border-color: orange;
	border-width: 3px;
	max-width: 10%;
}
.buffer{
	height: 10rem;
}
